@page "/fetchdata"

@using Microsoft.Extensions.Configuration
@using StonkTracker.Data
@using StonkTracker.Business.Http
@using Business.Excel
@inject WeatherForecastService ForecastService
@inject IConfiguration Configuration


@if (overview == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Symbol: @overview.Symbol</h1>
    <h6>AssetType: @overview.AssetType</h6> 
    <h6>Name: @overview.Name</h6> 
    <h6>Description: @overview.Description</h6> 
    <h6>Exchange: @overview.Exchange</h6> 
    <h6>Currency: @overview.Currency</h6> 
    <h6>Country: @overview.Country</h6> 
    <h6>Sector: : @overview.Sector</h6> 
    <h6>Industry: @overview.Industry</h6> 
    <h6>Address: @overview.Address</h6> 
    <h6>FullTimeEmployees: @overview.FullTimeEmployees</h6> 
    <h6>FiscalYearEnd: @overview.FiscalYearEnd</h6> 
    <h6>LatestQuarter: @overview.LatestQuarter</h6> 
    <h6>MarketCapitalization: @overview.MarketCapitalization</h6> 
    <h6>EBITDA: @overview.EBITDA</h6> 
    <h6>PERatio: @overview.PERatio</h6> 
    <h6>PEGRatio: @overview.PEGRatio</h6> 
    <h6>BookValue: @overview.BookValue</h6> 
    <h6>DividendPerShare: @overview.DividendPerShare</h6> 
    <h6>DividendYield: @overview.DividendYield</h6> 
    <h6>EPS: @overview.MarketCapitalization</h6> 
    <h6>RevenuePerShareTTM: @overview.RevenuePerShareTTM</h6> 
    <h6>ProfitMargin: @overview.ProfitMargin</h6> 
    <h6>OperatingMarginTTM: @overview.OperatingMarginTTM</h6> 
    <h6>ReturnOnAssetsTTM: @overview.ReturnOnAssetsTTM</h6> 
    <h6>ReturnOnEquityTTM: @overview.ReturnOnEquityTTM</h6> 
    <h6>RevenueTTM: @overview.RevenueTTM</h6> 
    <h6>GrossProfitTTM: @overview.GrossProfitTTM</h6> 
    <h6>DilutedEPSTTM: @overview.DilutedEPSTTM</h6> 
    <h6>QuarterlyEarningsGrowthYOY: @overview.QuarterlyEarningsGrowthYOY</h6> 
    <h6>QuarterlyRevenueGrowthYOY: @overview.QuarterlyRevenueGrowthYOY</h6> 
    <h6>AnalystTargetPrice: @overview.AnalystTargetPrice</h6> 
    <h6>TrailingPE: @overview.TrailingPE</h6> 
    <h6>ForwardPE: @overview.ForwardPE</h6> 
    <h6>PriceToSalesRatioTTM: @overview.PriceToSalesRatioTTM</h6> 
    <h6>PriceToBookRatio: @overview.PriceToBookRatio</h6> 
    <h6>EVToRevenue: @overview.EVToRevenue</h6> 
    <h6>EVToEBITDA: @overview.EVToEBITDA</h6> 
    <h6>Beta: @overview.Beta</h6> 
    <h6>FiftyTwoWeekHigh: @overview.FiftyTwoWeekHigh</h6> 
    <h6>FiftyTwoWeekLow: @overview.FiftyTwoWeekLow</h6> 
    <h6>FiftyDayMovingAverage: @overview.FiftyDayMovingAverage</h6> 
    <h6>TwoHundredDayMovingAverage: @overview.TwoHundredDayMovingAverage</h6> 
    <h6>SharesOutstanding: @overview.SharesOutstanding</h6> 
    <h6>SharesFloat: @overview.SharesFloat</h6> 
    <h6>SharesShort: @overview.SharesShort</h6> 
    <h6>SharesShortPriorMonth: @overview.SharesShortPriorMonth</h6> 
    <h6>ShortRatio: @overview.ShortRatio</h6> 
    <h6>ShortPercentOutstanding: @overview.ShortPercentOutstanding</h6> 
    <h6>ShortPercentFloat: @overview.ShortPercentFloat</h6> 
    <h6>PercentInsiders: @overview.PercentInsiders</h6> 
    <h6>PercentInstitutions: @overview.PercentInstitutions</h6> 
    <h6>ForwardAnnualDividendRate: @overview.ForwardAnnualDividendRate</h6> 
    <h6>ForwardAnnualDividendYield: @overview.ForwardAnnualDividendYield</h6> 
    <h6>PayoutRatio: @overview.PayoutRatio</h6> 
    <h6>DividendDate: @overview.DividendDate</h6> 
    <h6>ExDividendDate: @overview.ExDividendDate</h6> 
    <h6>LastSplitFactor: @overview.LastSplitFactor</h6> 
    <h6>LastSplitDate: @overview.LastSplitDate</h6> 
}

@code {
    private Overview overview;

    protected override async Task OnInitializedAsync()
    {
        var models =ExcelReader.ReadSuggestionsInputFile("C:\\Users\\Devin\\Downloads\\SA.xlsx");

        for (int i = 0; i < 3; i++)
            {

            }



        var json = await HttpHelper.GetTimeSeries("dogz", "5min");
        overview = await HttpHelper.GetOverview("dogz");
    }
}
